body {
    background: #246673 top left repeat;
    font-family: sans-serif;
    margin: 0;
    padding-left: .5em;
    padding-right: .5em;
    border-left: 10.5em solid #132730;
    border-right: 10.5em solid #132730;
}

a {
    color: #246673;
}

h1 {
    font-size: 2em;
    padding: .6em 0 ;
    margin: 0;
}
h1 a {
    color: #bf2c53;
    text-decoration: none;
}
h1 a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 3em;
    margin: 0;
}

#container {
    margin: 0;
    background-color: #f5ffe5;    
    padding: 0 3em 10em 3em;
    min-height: 800px;
    border-left: solid .5em #BCC4A6;
    border-right: solid .5em #BCC4A6;
    border-bottom: solid 2.5em #383434;
}
#content {
    padding: 4em 0;
    margin: 0;
    color: #132730;
    clear: both;
}
#antet {
    margin-right: -10;
    font-family: serif;
    padding: 0;
}

img {
    border: 0;
}

#authentication {
    padding: 2em 2em 0 0;
    margin: 0;
    float: right;
    
}
#authentication a.buton{
    text-transform:lowercase;
    color: #f5ffe5;
    text-decoration: none;
    background-color: #246673;
    padding: 2em 6px 4px;
    margin: 0;
}

#authentication a#special {background-color: #bf2c53;}
#authentication a#special.buton:hover {background-color:#132730;}
#authentication a.buton:hover {background-color:#132730;}

#smallprint {
    text-align: center;
    margin-top: 20px;
    font-size: .7em;
    color: #bcc4a6;
}

#cuZmeura {
    font-size: .6em;
}