<html>
  <head>
    <title>Afișe cuZmeură - rețea de publicitate FLOSS</title>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}style.css" />
  </head>
  <body>
    
    <div id="container">
      <div id="antet">
        <div id="authentication">
          {% if user.is_authenticated %}
          Sal, <a href="/user/profile/">{{ user.username }}</a> 
          <a class="buton" href="/logout/">Ieșire</a>
          {% else %}
          <a class="buton" href="/login/">Autentificare</a>
          <a class="buton" id="special" href="/user/register/">Înregistrare</a>
          {% endif %}
        </div>
        <h1><a href="/" title="Acasă">cuZmeură</a></h1>
      </div>
      
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>

    <div id="smallprint">
      <p>cuZmeură © 2010 - găzduit de <a href="http://sblug.ro">SbLUG</a></p>
      <p>Sursele
      sunt <a href="http://github.com/mapleoin/cuZmeura">disponibile</a> sub
      licență <a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html">
      AGPLv3</a></p>
    </div>
  </body>
</html>
