<html>
  <head>
    <title>Fără nume - rețea de publicitate FLOSS</title>
    <link rel="stylesheet" type="text/css" href="/media/style.css" />
  </head>
  <body>
    
    <div id="container">
      <div id="antet">
        <div id="authentication">
          {% if user.is_authenticated %}
          Sal, <a href="/user/profile/">{{ user.username }}</a> 
          <a class="buton" href="/logout/">Ieșire</a>
          {% else %}
          <a class="buton" id="special" href="/user/register/">Înregistrare</a>
          <a class="buton" href="/login/">Autentificare</a>
          {% endif %}
        </div>
        <h1><a href="/" title="Acasă">Fără titlu</a></h1>
      </div>
      
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>

    <div id="smallprint">
      Nenumit © 2010
    </div>
  </body>
</html>
