{% extends "base.html" %}

{% block content %}
      <h3>Versiune beta privat.</h3>
      <p>Vrem să promovăm comunitățile
      cu <a href="http://ro.wikipedia.org/wiki/Open_source">surse deschise</a>
      și <a href="http://ro.wikipedia.org/wiki/Free_software">software
      liber</a> românești. Și tu ne poți ajuta, folosind snippetul de mai
      jos.</p>
      
      <p>Nu trebuie decât să copiezi codul ăsta pe situl tău:</p>

      {% include "snippet.html" %}
      
      <br /><br />
      <p>Va arăta așa (încearcă să reîncarci pagina):</p>
      <script type="text/javascript" src="{{ domain }}serve/{{ publisher }}">
        //<![CDATA[ (function(id) {
  document.write('<script type="text/javascript" src="' + '{{ domain }}serve/'
  + id + '"></' + 'script>'); })({{ publisher }}); //]]>
      </script>

      <h3>Vrei mai mult?</h3>
      <p>În curând, și tu te vei putea înregistra pentru un cont cuZmeură.
        Astfel vei putea să vezi câte impresii generează situl tău și de unde
        vin ele. În curând...</p>
      
{% endblock %}
