<html>
  <head>
    <title>Chemătoru' - rețea de publicitate FLOSS</title>
    <link rel="stylesheet" type="text/css" href="/media/style.css" />
  </head>
  <body>
    <div id="container">
      <h1>Chemătoru'</h1>
      <h2> - află și contribuie - </h2
<h3>Versiune <em>foarte</em> alfa.</h3>
      <p>Tot ce trebuie să faci pentru a putea afișa reclame ale comunităților româneștie  darte sau tehnologii libere e să copieie codul de mai jos pe situl tău:</p>
      <textarea rows="8" cols="70" onclick="this.select()">
        <script type="text/javascript" src="{{ domain }}/serve/5">
          //<![CDATA[
  (function(id) {
       document.write('<script type="text/javascript" src="' +
       '{{ domain }}/serve/' + id "></' + 'script>');
       })("5");
 //]]>
      </script> </textarea>
      <br /><br />
      <p>Va arăta așa (încearcă să dai refresh):</p>
      <script type="text/javascript" src="{{ domain }}/serve/5">
        //<![CDATA[
  (function(id) {
       document.write('<script type="text/javascript" src="' +
       '{{ domain }}/serve/' + id "></' + 'script>');
       })("5");
 //]]>
      </script>
    </div>
    
  </body>
</html>
