{% extends "user.html" %}

{% block innercontent %}

{% if products %}
Produsele tale:
{% for product in products %}
  <a href="/user/product/{{ product.name }}/">{{ product.name }}</a>
{% endfor %}
<hr />
{% endif %}

{% for pub, pubslug, imp, real in pub_imp %}

  <p>Contul tău <em>{{ pub }}</em> a generat până acum {{ real }}
    impresii. <a href="/user/pub/remove/{{ pubslug }}">Șterge</a></p>

  <p>Acesta este snippetul pe care îl poți folosi:</p>
  {% include "snippet.html" %}
  <br /><br /><br />
{% endfor %}

<h3>Vrei să adaugi un sait?</h3>

{% include "_pub_form.html" %}

{% endblock %}
