{% extends "base.html" %}

{% block title %}Creează-ți un cont{% endblock %}

{% block content %}

  {% if form %}
    <h2>Creează un cont</h2>

    {% if form.errors %}
    <p style="color: pink">
      Te rugăm să corectezi erorile de mai jos.
    </p>
    {% endif %}

    <form action="" method="post">
        {{ form.as_p }}
        <input type="submit" value="Create the account">
    </form>
  {% endif %}

  {% if thanks %}
    <p>Îți mulțumim pentru înregistrare. Ți-am trimis un mail cu instrucțiuni
      pentru activarea contului la adresa specificată. </p>
  {% endif %}
{% endblock %}
